
body{
    background:#f7f7f7;
    -webkit-animation:colour 15s linear infinite;
    -moz-animation:colour 15s linear infinite;
    
}

@-webkit-keyframes colour{
    0%{
      background:#f8f8f8
    }
  
    40%{
      background:#c3f3b0
    }
  
    80%{
      background:#fafafa
    }
  
    100%{
      background:#e7f8aa
    }
  
}
  

header {
    background-color: #fff;
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
   
.header-logo {
    color: #000;
    font-size: 25px;
    margin: 15px 25px;
    text-decoration: none;
}
   
.main {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
}
   
h2 {
    color: #444444;
    margin: 80px 0px 30px;
    text-align: center;
}
   
p {
    color: #444444;
    margin: 40px 0px 30px 0px;
    text-align: center;
}
   
.answer {
    color: #444444;
    margin: 5px 0px 30px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.image {
    width: 30%;
    display: block;
    margin: 30px auto 0px;
}

form {
    text-align: center;
}

footer {
    background-color: #c0cac4;
    margin: -8px;
    width: 100%;
    position: absolute;
   }
   
   small {
    margin: 15px 25px;
    left: 0;
    bottom: 0;
   }